#hero {
    background-image: url(https://picsum.photos/seed/picsum/1920/1080);
    background-repeat: no-repeat;
    background-size: cover;
}

.profile-img {
    height: 200px;
    width: 200px;
}

.abt-p {
    text-align: justify;
}

#skills {
    background-color: rgba(50, 50, 50, 0.03);
}